@media only screen and (max-width:720px){
    .dv_tab{display:block !important;}
	.dv_pc{display:none !important;}	
    
	.dv_mob{display:block !important;}
	.dv_pc{display:none !important;}

	#header{padding:25px;}
	#header h1{font-size:24px;}
	#header a{top:25px;padding-left:22px;background-size: auto 16px;}
	#header a img{height:20px;}

	#footer h2 img{height:28px;}
	#footer .ftxt span{display:block;line-height:1.5;}
	#footer .ftxt br{display:none;}
	#footer .fbtn{margin-top:20px}
	.sub_contents .fbtn{margin-bottom:60px}
	.fbtn a{width:100%;margin-top:10px;padding:12px 23px}
	.fbtn a:first-child{width:100%;margin-top:0;}
	.btn_top{bottom:30px;}
	.btn_top img{height:38px;}

	#main_top{padding:0;background-size:cover;}
	#main_top .main_bx{padding:40px 30px;}
	#main_top .main_bx h1{font-size:50px;}
	#main_top .main_bx .num{margin-top:8px;font-size:13px;}
	#main_top .main_bx .num b{font-size:50px;}
	#main_top .main_bx .num span{padding:12px 0 0 5px;}
	#main_top .main_bx .num em{padding:29px 0 2px 0;}
	#main_top .main_bx .ett{margin-top:15px;padding-bottom:20px;}
	#main_top .main_bx .ltt{margin-bottom:10px;font-size:18px;}
	#main_top .main_bx .stxt{font-size:18px;letter-spacing:-1px;}

	.report_list > ul > li{padding:60px 0 45px;}
	.report_list > ul > li:first-child{padding-top:90px;}
	.report_list > ul > li h2{padding-bottom:25px;font-size:22px;}
	.report_list > ul > li h2 b{font-size:38px;}
	.report_list > ul > li .list .tit{margin:15px 0 30px;padding-top:0;font-size: 20px;}
	.report_list > ul > li .list .tit span{line-height:1.2;}
	.report_list > ul > li .list .tit::after{height:12px;}
	.report_list > ul > li .list li{padding:25px 0 25px 35px;font-size:20px;}
	.report_list > ul > li .list li:first-child{padding-top:10px;}

	#sub_visual{height:350px;background-size:cover !important;}
	.sub_contents{padding:50px 0 30px;}
	.sub_contents h2 span{font-size:18px;}
	.sub_contents h2 b{padding:20px 0 20px;font-size:30px;}
	.sub_contents h2 .tit{padding-top:20px;margin-bottom:25px}
	.sub_contents h2 .tit::after{height:12px}
	.sub_contents .mtxt{font-size:15px;}
	.sub_contents .list > li{margin-top:40px;}
	.sub_contents .list > li .num{padding-top:20px;padding-left:50px;padding-bottom:30px;font-size:28px; line-height: 1.6}
	.sub_contents .list > li .num b{padding-bottom:0;font-size:52px;}
	.sub_contents .list > li .ntxt{font-size:18px;}
	.sub_contents .list > li .ntxt sup{font-size:12px;}
	.sub_contents .list > li .nltxt{margin-left:10px}
	.sub_contents .list > li .nltxt li{font-size:18px;line-height:1.5;}
	.sub_contents .list > li .tit{padding-bottom:30px;font-size:20px;line-height:1.3;}
	.sub_contents .list > li .img{margin: 0px 0 35px;}
	.sub_contents .list > li .stxt{margin-top:30px;padding-top:25px;display: inline-block;width: 100%;}
	.sub_contents .list > li .stxt li{font-size:14px;}
	.sub_contents .list > li .stxt .stit{padding-bottom:20px;font-size:20px;}
	.sub_contents .list > li .img .ex{font-size:12px;line-height:1.2;}
	.mt80{margin-top:40px !important;}

	.infographic{padding-top:0}
	.infographic h3{padding-bottom:10px;font-size:28px}
	.infographic .sub_tit{font-size:20px;color:#000;line-height:1.3;font-weight:400;}
	.infographic .tit_info{margin-bottom:10px;font-size:22px;}
	
	.info_cont h4{padding-bottom:20px;font-size:22px;}
	.info_cont .info:after{display:block;clear:both;content:""}
	.info_cont ul{float:none;width:auto;padding-inline-start: 20px;}
	.info_cont ul li{margin-top:10px;font-size:18px;line-height:1.5;}
	.info_cont ul li:first-of-type{margin-top:0}
	.info_cont .info_img{float:none;width:auto;margin:0 auto;padding:20px 0}
	.info_cont .info_img img{width:100%}

	.half_img{margin-top:40px;}
	.half_img li{display: inline-block;vertical-align: top;width:100%;margin-bottom:20px;text-align:center;}
	.half_img li:first-child{margin-right:0;}
	.half_img li img{max-width:100%;}

	.month_tb td{font-size:12px;word-break:break-all;}
	.month_tb tr.thead td{font-size:13px;font-weight:500;}
	
	.title_sub{
		font-size: 2.3vw;
		letter-spacing: 0.2px;
		font-weight: bold;
		margin-top: 74px;
		margin-bottom: 10px;
	}
	.title_sub.title-blue{
		color: #2872b9;
	}
	.title_sub .title-type{
		background-color: #2872b9;
		margin-right: 0.5em;
		width: auto;
		height: auto;
		padding: 4px 0px;
		width: 50px;
		letter-spacing: 0px;
		display: inline-block;
	}
	.etc_text1{
		font-size: .7vw;
		line-height: 3.5em !important;
		margin-bottom: 10px;
		word-break: keep-all;
	}
	.title_sub_long{
		font-size: 2.0vw;
	}
	.c_review_sub {
	    color: #c69cc8 !important;
	    font-size: 12px;
	}
	.hypen_sub {
		display: flex;
		flex-direction: column;
	}
}

@media only screen and (max-width:400px){
	.report_list > ul > li .list .tit{margin:15px 0 30px;font-size:18px;letter-spacing:-1px;}
	.report_list > ul > li .list li{padding:25px 0 25px 35px;font-size:18px;}
}
